@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;

.clear-completed {
  cursor: pointer;
}

.filters {
  display: flex;
  justify-content: center;
  background-color: var(--white-color);
  border-radius: 5px;
  padding-block: 15px 19px;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}

.filter {
  border: none;
  background-color: transparent;
  color: var(--grey-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.194px;
  cursor: pointer;

  &--active {
    color: var(--active-color);
  }
}
